---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100

# Indentation
IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"eeprom/'
    Priority: 1
  - Regex: '.*'
    Priority: 0

# Spacing
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignment
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# Other
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
...
